# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:password@localhost:3306/mmorpg_kit_iap_validation"

# Binding Address
ADDRESS=0.0.0.0

# Port which it will be running on
PORT=9802

# Secret keys
SECRET_KEYS=["secret"]

# Google IAP configs
IAP_GOOGLE_PUBLIC_KEY = 
IAP_GOOGLE_PUBLIC_KEY_SANDBOX = 

# Other IAP configs
# For Apple and Googl Play to force Sandbox validation only
IAP_TEST = true
# Output debug logs to stdout stream
IAP_VERBOSE = true